.checkout {
    display: flex;
    padding: 20px;
    height: max-content;
    background-color: white;
}

.checkout__left {
    flex: 4;
}

.checkout__right {
    flex: 1;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
}