.header {
    display: flex;
    background-color: black;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__link {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
}

.header__logo {
    object-fit: contain;
    margin: 0 20px;
    margin-top: 20px;
    width: 100px;
}

.header__searchIcon {
    background-color: #cd9042;
    padding: 5px;
    height: 22px !important;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.search {
    display: flex;
    flex: 1;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__option__1 {
    font-size: 0.7rem;
}

.header__option__2 {
    font-size: 1rem;
    font-weight: 720;
}

.header__optionBasket {
    display: flex;
    align-items: center;
}

.header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}